{% block header %}


{% if 'entrepriseUnique' in page %}

<header class="container-fluid pt-3 " style="overflow: hidden;z-index:10000000000">

        <div class="row align-items-center divHeader" style="color:black">       
                <h1 class="col-7 font-weight-bold ml-5 nomSite"><a style="color:#16191b" href="./">Minut'Reno</a></h1>
                <div class="col-4 divConnexInscript ml-5">
                {% if utilisateurConnecter == NULL %}
                <a style="color:white; background-color:#16191b;float:right" class="btn font-weight-bold btnConnexionHeader" >Connexion</a>
                <a style="color:white; background-color:#16191b;float:right" class="btn btnInscriptionHeader font-weight-bold mr-2" >Inscription</a>
                {% else %}
                        <div class="text-right  d-flex align-items-center justify-content-end">
                                <img class="mr-2" src="./assets/img/pseudoImg.jpg" style="border-radius:50%;width:50px;height:50px">
                                <span class="text-dark font-weight-bold">{{utilisateurConnecter[0].prenom | capitalize}}</span>
                                <i id="affichageCompte" style="font-size:18px" class="far fa-caret-square-down ml-2 text-dark"></i>
                
                         </div>
                
                       
               
                {% endif %}
                
                <div>
        <div>

        
       
</header>



 {% elseif "" in page %}



<header class="container-fluid pt-3 header position-relative" style="overflow: hidden;background-image:url('{{affichageDesign[0]["background"]}}');">

<h1 class="position-absolute titreBonArtisan "><span class="lettreTitre" style="color:{{affichageDesign[0]["color"]}}">T</span>rouvez le bon<span class=" position-absolute font-weight-bold" style="top:9%;left:104%!important;width:400px"><span class="lettreTitre" style="color:{{affichageDesign[0]["color"]}}">A</span>rtisan !</span></h1>

        <div class="row align-items-center divHeader" style="color:black">   
                <div  class=" col-7 position-relative"> 
                        <h1 class=" font-weight-bold ml-5 nomSite"><a style="color:#16191b;z-index:3" class="position-relative"  href="./">Minut<span class="lettreTitre" style="color:{{affichageDesign[0]["color"]}}">'</span>Estime</a></h1>
                        <div class="backLogo position-absolute"></div>
                </div>

                <div class="col-5 divConnexInscript position-relative">
                        {% if utilisateurConnecter == NULL %}
                        <a style="color:white; background-color:#16191b;float:right" id="btnCoHeaderNav" class="btn font-weight-bold btnConnexionHeader" >Connexion</a>
                        <a style="color:white; background-color:#16191b;float:right" class="btn btnInscriptionHeader font-weight-bold mr-2" >Inscription</a>
                        {% else %}
                        <div class="text-right mr-4 d-flex align-items-center justify-content-end">
                                <img class="mr-2" src="./assets/img/pseudoImg.jpg" style="border-radius:50%;width:50px;height:50px">
                                <span class="text-white font-weight-bold">{{utilisateurConnecter[0].prenom | capitalize}}</span>
                                <i id="affichageCompte" style="font-size:18px" class="far fa-caret-square-down ml-2 text-white"></i>
                
                         </div>
                
                        <div id="affichageDivCo" class="d-none" style="height:auto;max-height:380px;box-shadow: white 0px 5px 15px;border-radius:8px;top:110%;right:6%;z-index:2">

                           <div id="divBalayerOrigin">
                                <div>
                                        <img class="mr-2" src="./assets/img/pseudoImg.jpg" style="border-radius:50%;width:50px;height:50px">
                                        <span class="text-dark font-weight-bold">{{utilisateurConnecter[0].prenom | capitalize}}</span>
                                </div>
                                <hr style="background-color:#e4e6eb">
                                <div class="d-flex align-items-center listSocieteCo" style="cursor:pointer" id="envoieMail">
                                        <div class="testIconeAffichage text-center ml-2">
                                                 <i class="far fa-comment-alt" style=" top: calc(50% - 10px);position: relative;font-size:18px"></i>
                                        </div>
                                         <div class="ml-3">
                                                <span>Donnez votre avis</span>
                                        </div>
                                </div>
                                <hr style="background-color:#e4e6eb">

                         
                                <div>
                
                                        <div id="voirSociété" class="d-flex align-items-center listSocieteCo" style="cursor:pointer">
                                                <div class="testIconeAffichage text-center ml-2">
                                                        <i class="far fa-building text-center" style=" top: calc(50% - 10px);position: relative;font-size:18px" ></i>
                                                </div>
                                                <div class="ml-3 w-75">
                                                        <span>Voir mes sociétés</span>
                                                </div>
                                                <i class="fas fa-chevron-right " style="float:right"></i>
                                        </div>
                                        <div class="d-flex align-items-center my-3 listSocieteCo" id="modeAffichage" style="cursor:pointer">
                                                <div class="testIconeAffichage text-center ml-2">
                                
                                                        <i class="fas fa-tv"  style=" top: calc(50% - 10px);position: relative;font-size:16px" ></i>
                                                </div>
                                                <div class="ml-3 w-75">
                                                        <span>Affichage </span>
                                                </div>
                                                <i class="fas fa-chevron-right " style="float:right"></i>
                                        </div>
                                          <div class="d-flex align-items-center my-3 listSocieteCo" style="cursor:pointer" id="supprimezCompteUser">
                                                <div class="testIconeAffichage text-center ml-2">
                                                        <i class="far fa-trash-alt" style=" top: calc(50% - 10px);position: relative;font-size:18px" ></i>
                                                        
                                                </div>
                                                <div class="ml-3">
                                                        <span>Supprimez son compte</span>
                                                 </div>
                                        </div>
                     
                                        <div class="d-flex align-items-center listSocieteCo" style="cursor:pointer" id="divDeconnexion">
                                                <div class="testIconeAffichage text-center ml-2">
                                                        <i class="fas fa-door-open" style=" top: calc(50% - 10px);position: relative;font-size:18px" ></i>
                                                </div>
                                                <div class="ml-3">
                                                        <span>Se déconnectez</span>
                                                 </div>
                                        </div>
                     
                     
                                </div>
                           </div>
                           <!-- Block apparition des societes -->
                           <div class="" style="display:none" id="divApparitionBalayer">
                           <i class="fas fa-long-arrow-alt-left mb-3" style="font-size:20px;cursor:pointer" id="retourAffichageCompte"></i>
                                <h4 class="font-weight-bold ml-2 mb-4">Mes sociétés</h4>
                                {% if societeUsers is empty %}
                                   <span class="text-center font-weight-bold d-block">Aucune société enregistré</span>
                                {% else %}
                             {% for societe in societeUsers %}

                             <div onclick="location.href='?entrepriseUnique=undefined&&etablissement={{societe.id}}'"  class="d-flex align-items-center mb-2 listSocieteCo py-1" style="cursor:pointer">
                                                <div class="testIconeAffichage text-center ml-2">
                                
                                                        <i class="far fa-building"  style=" top: calc(50% - 10px);position: relative;font-size:16px" ></i>
                                                </div>
                                                <div class="ml-3 w-75">
                                                        <span>{{societe.nom_raison_sociale}} </a>
                                                </div>
                                               
                                        </div>
                                 {% endfor %}
                                 {% endif %}
                           </div>
                        
                        <!-- Block apparition mode affichage -->
                          <div class="" style="display:none" id="divApparitionBalayerAffichage">
                           <i class="fas fa-long-arrow-alt-left mb-3" style="font-size:20px;cursor:pointer" id="retourAffichageCompte2"></i>
                                <h4 class="font-weight-bold ml-1">Mode Affichage</h4>
                                <div>
                                        <div class="d-flex align-items-center my-3">
                                           <div class="testIconeAffichage text-center ">
                                                        <i class="fas fa-tv text-center" style=" top: calc(50% - 10px);position: relative;font-size:18px" ></i>
                                                </div>
                                                <h6 class="m-0 ml-2 font-weight-bold">Mode sombre</h6>
                                        
                                        </div>
                                        <p class="ml-1">Ajustez l’apparence de Facebook pour réduire les reflets et reposer vos yeux.</p>

                                        <div class="mt-4">
                                                <div class="d-flex justify-content-between">
                                                        <label>Désactivé</label>
                                                         <input value="1" class="radio" type="radio" checked name="drone">
                                                </div>

                                        
                                                <div class="d-flex justify-content-between mt-3">
                                                        <label>Activé</label>
                                                         <input value="2" class="radio" type="radio" name="drone">
                                                </div>
                                        </div>
                                </div>
                          </div>


                    

                        </div>
               
                {% endif %}
                
                
                </div>
        </div>
   
   
       
</header>



<!-- Modal email-->
<div class="modal fade" id="modalEnvoieMail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 43em">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Partagez votre avis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
       
      <div class="modal-body">
       
                <div>
                 <label for="objet">Objet :</label>
                <input id="objet" class="mb-3 w-100" >
                </div>
                <div>
                <label for="message">Message :</label>
                <textarea id="message" class="w-100"  style="resize:none;height:200px"></textarea>
                </div>

                
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
         <button   class="btn btn-primary" id="btnEnvoieMail">Envoyer</button>
      </div>
     
    </div>
  </div>

</div>


<div class="postion-relative" >
  <div class="d-none" id="confirmationDuMail" style="width:22em;height:60px;bottom:3%;left:1%;z-index:4;border-radius:10px">
<span class="text-white font-weight-bold">Votre message à était envoyer <i class="fas fa-check ml-2"></i></span>

<i class="far fa-times-circle position-absolute text-white" id="closeInfoMail" style="top:4%;right:1%;font-size:18px;cursor:pointer"></i>

</div>   
</div>



{% endif %}


{% endblock %}